pkgbase = gstreamer-qti-oss
	pkgdesc = Multimedia graph framework
	pkgver = 1.28.0
	pkgrel = 4
	url = https://gstreamer.freedesktop.org/
	arch = aarch64
	license = LGPL-2.1-or-later
	makedepends = a52dec
	makedepends = aalib
	makedepends = alsa-lib
	makedepends = aom
	makedepends = bash-completion
	makedepends = bluez-libs
	makedepends = bzip2
	makedepends = cairo
	makedepends = cdparanoia
	makedepends = chromaprint
	makedepends = curl
	makedepends = faac
	makedepends = faad2
	makedepends = ffmpeg
	makedepends = flac
	makedepends = fluidsynth
	makedepends = gdk-pixbuf2
	makedepends = git
	makedepends = glib2
	makedepends = glib2-devel
	makedepends = glibc
	makedepends = gobject-introspection
	makedepends = graphene
	makedepends = gsm
	makedepends = gtk3
	makedepends = hicolor-icon-theme
	makedepends = imath
	makedepends = iso-codes
	makedepends = jack2
	makedepends = json-glib
	makedepends = ladspa
	makedepends = lame
	makedepends = lcms2
	makedepends = libass
	makedepends = libavc1394
	makedepends = libavtp
	makedepends = libbs2b
	makedepends = libcaca
	makedepends = libcap
	makedepends = libcdio
	makedepends = libdc1394
	makedepends = libdca
	makedepends = libde265
	makedepends = libdrm
	makedepends = libdv
	makedepends = libdvdnav
	makedepends = libdvdread
	makedepends = libelf
	makedepends = libfdk-aac
	makedepends = libfreeaptx
	makedepends = libgcc
	makedepends = libglvnd
	makedepends = libgme
	makedepends = libgudev
	makedepends = libiec61883
	makedepends = libjpeg-turbo
	makedepends = liblc3
	makedepends = libldac
	makedepends = liblrdf
	makedepends = libltc
	makedepends = libmicrodns
	makedepends = libmodplug
	makedepends = libmpcdec
	makedepends = libmpeg2
	makedepends = libnice
	makedepends = libogg
	makedepends = libopenmpt
	makedepends = libpng
	makedepends = libpulse
	makedepends = libraw1394
	makedepends = librsvg
	makedepends = libshout
	makedepends = libsndfile
	makedepends = libsoup3
	makedepends = libsrtp
	makedepends = libstdc++
	makedepends = libtheora
	makedepends = libunwind
	makedepends = libusb
	makedepends = libva
	makedepends = libvorbis
	makedepends = libvpl
	makedepends = libvpx
	makedepends = libwebp
	makedepends = libwpe
	makedepends = libx11
	makedepends = libxcb
	makedepends = libxdamage
	makedepends = libxext
	makedepends = libxfixes
	makedepends = libxi
	makedepends = libxkbcommon
	makedepends = libxkbcommon-x11
	makedepends = libxml2
	makedepends = libxrandr
	makedepends = libxtst
	makedepends = libxv
	makedepends = lilv
	makedepends = lv2
	makedepends = mesa
	makedepends = meson
	makedepends = mjpegtools
	makedepends = mpg123
	makedepends = nasm
	makedepends = neon
	makedepends = nettle
	makedepends = onnxruntime
	makedepends = openal
	makedepends = opencore-amr
	makedepends = opencv
	makedepends = openexr
	makedepends = openh264
	makedepends = openjpeg2
	makedepends = openssl
	makedepends = opentimelineio
	makedepends = opus
	makedepends = orc
	makedepends = pango
	makedepends = python
	makedepends = python-cairo
	makedepends = python-commonmark
	makedepends = python-gobject
	makedepends = python-lxml
	makedepends = python-setuptools
	makedepends = python-typing_extensions
	makedepends = qrencode
	makedepends = qt5-base
	makedepends = qt5-declarative
	makedepends = qt5-tools
	makedepends = qt5-wayland
	makedepends = qt5-x11extras
	makedepends = qt6-base
	makedepends = qt6-declarative
	makedepends = qt6-shadertools
	makedepends = qt6-tools
	makedepends = rtmpdump
	makedepends = rust
	makedepends = sbc
	makedepends = sdl2
	makedepends = shaderc
	makedepends = soundtouch
	makedepends = spandsp
	makedepends = speex
	makedepends = srt
	makedepends = svt-av1
	makedepends = svt-hevc
	makedepends = systemd-libs
	makedepends = taglib
	makedepends = twolame
	makedepends = v4l-utils
	makedepends = valgrind
	makedepends = vmaf
	makedepends = vulkan-headers
	makedepends = vulkan-icd-loader
	makedepends = vulkan-validation-layers
	makedepends = wavpack
	makedepends = wayland
	makedepends = wayland-protocols
	makedepends = webrtc-audio-processing-1
	makedepends = wildmidi
	makedepends = wpebackend-fdo
	makedepends = wpewebkit
	makedepends = x264
	makedepends = x265
	makedepends = zbar
	makedepends = zlib
	makedepends = zvbi
	makedepends = zxing-cpp
	source = git+https://gitea.classfun.cn:4443/mirrors/gstreamer.git#tag=1.28.0
	source = 0001-HACK-meson-Disable-broken-tests.patch
	source = 0002-Fix-build-with-zxing-cpp-3.patch
	source = base_0001-video-Add-support-for-NV12_Q08C-compressed-8-bit-for.patch
	source = base_0002-video-Add-support-for-NV12_Q10LE32C-compressed-10-bi.patch
	source = base_0003-videometa-Update-the-aggregation-logic-for-stride-al.patch
	source = good_0001-v4l2-Add-support-for-V4L2_PIX_FMT_QC08C-format.patch
	source = good_0002-v4l2videoenc-Set-format-on-capture-queue-before-enco.patch
	source = good_0003-v4l2-Add-v4l2av1dec-stateful-decoder-support.patch
	source = good_0004-v4l2videodec-Prefer-colorimetry-from-acquired-caps.patch
	source = good_0005-v4l2object-providing-aligned-size-when-propose-alloc.patch
	source = good_0006-v4l2-Drop-empty-bytesused-0-buffers.patch
	source = good_0007-v4l2-Handle-GAP-buffer-in-encoder.patch
	source = good_0008-v4l2-Add-support-for-V4L2_PIX_FMT_QC10C-format.patch
	source = bad_0001-wayland-Add-support-for-NV12_Q08C-compressed-8-bit.patch
	source = bad_0002-waylandsink-Release-pending-buffers-during-PAUSED-to.patch
	source = bad_0003-waylandsink-support-gap-buffers.patch
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP

pkgname = gstreamer-qti-oss
	pkgdesc = Multimedia graph framework - core (with Qualcomm patches)
	install = gstreamer.install
	depends = glib2
	depends = glibc
	depends = libcap
	depends = libelf
	depends = libgcc
	depends = libunwind
	depends = gst-plugins-bad-libs-qti-oss
	depends = gst-plugins-base-libs-qti-oss
	depends = gst-plugins-base-qti-oss
	depends = gst-plugins-good-qti-oss
	depends = gst-plugins-bad-qti-oss
	depends = gst-plugins-ugly-qti-oss
	depends = gst-libav-qti-oss
	depends = gst-plugin-gtk-qti-oss
	depends = gst-plugin-hip-qti-oss
	depends = gst-plugin-msdk-qti-oss
	depends = gst-plugin-onnx-qti-oss
	depends = gst-plugin-opencv-qti-oss
	depends = gst-plugin-qml6-qti-oss
	depends = gst-plugin-qmlgl-qti-oss
	depends = gst-plugin-qsv-qti-oss
	depends = gst-plugin-va-qti-oss
	depends = gst-plugin-wpe-qti-oss
	depends = gst-plugin-wpe2-qti-oss
	depends = gst-devtools-libs-qti-oss
	depends = gst-devtools-qti-oss
	depends = gst-rtsp-server-qti-oss
	depends = gst-editing-services-qti-oss
	depends = gst-python-qti-oss
	optdepends = python: gst-plugins-doc-cache-generator
	provides = gstreamer=1.28.0-4
	conflicts = gstreamer
	conflicts = gstreamer-vaapi<=1.26.10-5

pkgname = gst-plugins-bad-libs-qti-oss
	pkgdesc = Multimedia graph framework - bad
	depends = gst-plugins-base-libs-qti-oss=1.28.0-4
	depends = gstreamer-qti-oss=1.28.0-4
	depends = glib2
	depends = glibc
	depends = libdrm
	depends = libgcc
	depends = libglvnd
	depends = libgudev
	depends = libnice
	depends = libstdc++
	depends = libusb
	depends = libva
	depends = libx11
	depends = libxcb
	depends = libxkbcommon
	depends = libxkbcommon-x11
	depends = mesa
	depends = orc
	depends = vulkan-icd-loader
	depends = wayland
	depends = vmaf
	depends = zlib
	provides = gst-plugins-bad-libs=1.28.0-4
	conflicts = gst-plugins-bad-libs

pkgname = gst-plugins-base-libs-qti-oss
	pkgdesc = Multimedia graph framework - base
	depends = gstreamer-qti-oss=1.28.0-4
	depends = glib2
	depends = glibc
	depends = graphene
	depends = iso-codes
	depends = libdrm
	depends = libglvnd
	depends = libgudev
	depends = libjpeg-turbo
	depends = libpng
	depends = libx11
	depends = libxcb
	depends = libxext
	depends = libxi
	depends = libxv
	depends = mesa
	depends = orc
	depends = wayland
	depends = zlib
	provides = gst-plugins-base-libs=1.28.0-4
	conflicts = gst-plugins-base-libs

pkgname = gst-plugins-base-qti-oss
	pkgdesc = Multimedia graph framework - base plugins
	depends = gst-plugins-base-libs-qti-oss=1.28.0-4
	depends = gstreamer-qti-oss=1.28.0-4
	depends = alsa-lib
	depends = cairo
	depends = cdparanoia
	depends = glib2
	depends = glibc
	depends = libgcc
	depends = libogg
	depends = libtheora
	depends = libvorbis
	depends = opus
	depends = pango
	provides = gst-plugins-base=1.28.0-4
	conflicts = gst-plugins-base

pkgname = gst-plugins-good-qti-oss
	pkgdesc = Multimedia graph framework - good plugins
	depends = gst-plugins-base-libs-qti-oss=1.28.0-4
	depends = gstreamer-qti-oss=1.28.0-4
	depends = aalib
	depends = bzip2
	depends = cairo
	depends = flac
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = lame
	depends = libavc1394
	depends = libcaca
	depends = libdv
	depends = libgcc
	depends = libgudev
	depends = libiec61883
	depends = libjpeg-turbo
	depends = libpng
	depends = libpulse
	depends = libraw1394
	depends = libshout
	depends = libsoup3
	depends = libstdc++
	depends = libvpx
	depends = libx11
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxml2
	depends = libxtst
	depends = mpg123
	depends = nettle
	depends = opencore-amr
	depends = orc
	depends = speex
	depends = taglib
	depends = twolame
	depends = v4l-utils
	depends = wavpack
	depends = zlib
	optdepends = jack: JACK backend
	provides = gst-plugins-good=1.28.0-4
	conflicts = gst-plugins-good

pkgname = gst-plugins-bad-qti-oss
	pkgdesc = Multimedia graph framework - bad plugins
	depends = gst-plugins-bad-libs-qti-oss=1.28.0-4
	depends = gst-plugins-base-libs-qti-oss=1.28.0-4
	depends = gstreamer-qti-oss=1.28.0-4
	depends = aom
	depends = bzip2
	depends = cairo
	depends = chromaprint
	depends = curl
	depends = faac
	depends = faad2
	depends = fluidsynth
	depends = glib2
	depends = glibc
	depends = gsm
	depends = imath
	depends = json-glib
	depends = lcms2
	depends = libass
	depends = libavtp
	depends = libbs2b
	depends = libdc1394
	depends = libdca
	depends = libde265
	depends = libdvdnav
	depends = libdvdread
	depends = libfdk-aac
	depends = libfreeaptx
	depends = libgcc
	depends = libgme
	depends = liblc3
	depends = libldac
	depends = liblrdf
	depends = libltc
	depends = libmicrodns
	depends = libmodplug
	depends = libmpcdec
	depends = libopenmpt
	depends = librsvg
	depends = libsndfile
	depends = libsrtp
	depends = libstdc++
	depends = libwebp
	depends = libxml2
	depends = lilv
	depends = mjpegtools
	depends = neon
	depends = nettle
	depends = openal
	depends = openexr
	depends = openh264
	depends = openjpeg2
	depends = openssl
	depends = opus
	depends = pango
	depends = qrencode
	depends = rtmpdump
	depends = sbc
	depends = soundtouch
	depends = spandsp
	depends = srt
	depends = svt-av1
	depends = svt-hevc
	depends = webrtc-audio-processing-1
	depends = wildmidi
	depends = x265
	depends = zbar
	depends = zvbi
	depends = zxing-cpp
	optdepends = gst-plugin-gtk: gtk plugin
	optdepends = gst-plugin-hip: hip plugin and library
	optdepends = gst-plugin-msdk: msdk plugin
	optdepends = gst-plugin-onnx: onnx plugin
	optdepends = gst-plugin-opencv: opencv plugin and library
	optdepends = gst-plugin-qml6: qml6 plugin
	optdepends = gst-plugin-qmlgl: qmlgl plugin
	optdepends = gst-plugin-qsv: qsv plugin
	optdepends = gst-plugin-va: va plugin
	optdepends = gst-plugin-wpe: wpe plugin
	provides = gst-plugins-bad=1.28.0-4
	conflicts = gst-plugins-bad

pkgname = gst-plugins-ugly-qti-oss
	pkgdesc = Multimedia graph framework - ugly plugins
	depends = gst-plugins-base-libs-qti-oss=1.28.0-4
	depends = gstreamer-qti-oss=1.28.0-4
	depends = a52dec
	depends = glib2
	depends = glibc
	depends = libcdio
	depends = libdvdread
	depends = libmpeg2
	depends = x264
	provides = gst-plugins-ugly=1.28.0-4
	conflicts = gst-plugins-ugly

pkgname = gst-libav-qti-oss
	pkgdesc = Multimedia graph framework - libav plugin
	depends = gst-plugins-base-libs-qti-oss=1.28.0-4
	depends = gstreamer-qti-oss=1.28.0-4
	depends = ffmpeg
	depends = glib2
	depends = glibc
	provides = gst-ffmpeg=1.28.0-4
	provides = gst-libav=1.28.0-4
	conflicts = gst-ffmpeg
	conflicts = gst-libav

pkgname = gst-plugin-gtk-qti-oss
	pkgdesc = Multimedia graph framework - gtk plugin
	depends = gst-plugins-bad-libs-qti-oss=1.28.0-4
	depends = gst-plugins-base-libs-qti-oss=1.28.0-4
	depends = gstreamer-qti-oss=1.28.0-4
	depends = cairo
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = wayland
	provides = gst-plugin-gtk=1.28.0-4
	conflicts = gst-plugin-gtk

pkgname = gst-plugin-hip-qti-oss
	pkgdesc = Multimedia graph framework - hip plugin and library
	depends = gst-plugins-bad-libs-qti-oss=1.28.0-4
	depends = gst-plugins-base-libs-qti-oss=1.28.0-4
	depends = gstreamer-qti-oss=1.28.0-4
	depends = glib2
	depends = glibc
	depends = libdrm
	depends = libgcc
	depends = libgudev
	depends = libstdc++
	depends = libx11
	depends = mesa
	depends = orc
	depends = wayland
	provides = gst-plugin-hip=1.28.0-4
	conflicts = gst-plugin-hip

pkgname = gst-plugin-msdk-qti-oss
	pkgdesc = Multimedia graph framework - msdk plugin
	depends = gst-plugins-bad-libs-qti-oss=1.28.0-4
	depends = gst-plugins-base-libs-qti-oss=1.28.0-4
	depends = gstreamer-qti-oss=1.28.0-4
	depends = glib2
	depends = glibc
	depends = libdrm
	depends = libgudev
	depends = libva
	depends = libvpl
	provides = gst-plugin-msdk=1.28.0-4
	conflicts = gst-plugin-msdk

pkgname = gst-plugin-onnx-qti-oss
	pkgdesc = Multimedia graph framework - onnx plugin
	depends = gst-plugins-bad-libs-qti-oss=1.28.0-4
	depends = gst-plugins-base-libs-qti-oss=1.28.0-4
	depends = gstreamer-qti-oss=1.28.0-4
	depends = glib2
	depends = glibc
	depends = onnxruntime
	provides = gst-plugin-onnx=1.28.0-4
	conflicts = gst-plugin-onnx

pkgname = gst-plugin-opencv-qti-oss
	pkgdesc = Multimedia graph framework - opencv plugin and library
	depends = gst-plugins-base-libs-qti-oss=1.28.0-4
	depends = gstreamer-qti-oss=1.28.0-4
	depends = glib2
	depends = glibc
	depends = libgcc
	depends = libstdc++
	depends = opencv
	provides = gst-plugin-opencv=1.28.0-4
	conflicts = gst-plugin-opencv

pkgname = gst-plugin-qml6-qti-oss
	pkgdesc = Multimedia graph framework - qml6 plugin
	depends = gst-plugins-base-libs-qti-oss=1.28.0-4
	depends = gstreamer-qti-oss=1.28.0-4
	depends = glib2
	depends = glibc
	depends = libgcc
	depends = libglvnd
	depends = libstdc++
	depends = qt6-base
	depends = qt6-declarative
	provides = gst-plugin-qml6=1.28.0-4
	conflicts = gst-plugin-qml6

pkgname = gst-plugin-qmlgl-qti-oss
	pkgdesc = Multimedia graph framework - qmlgl plugin
	depends = gst-plugins-base-libs-qti-oss=1.28.0-4
	depends = gstreamer-qti-oss=1.28.0-4
	depends = glib2
	depends = glibc
	depends = libgcc
	depends = libglvnd
	depends = libstdc++
	depends = qt5-base
	depends = qt5-declarative
	depends = qt5-wayland
	depends = qt5-x11extras
	provides = gst-plugin-qmlgl=1.28.0-4
	conflicts = gst-plugin-qmlgl

pkgname = gst-plugin-qsv-qti-oss
	pkgdesc = Multimedia graph framework - qsv plugin
	depends = gst-plugins-bad-libs-qti-oss=1.28.0-4
	depends = gst-plugins-base-libs-qti-oss=1.28.0-4
	depends = gstreamer-qti-oss=1.28.0-4
	depends = glib2
	depends = glibc
	depends = libgcc
	depends = libstdc++
	optdepends = intel-media-sdk: runtime for legacy Intel GPUs
	optdepends = onevpl-intel-gpu: runtime for Tiger Lake and newer GPUs
	provides = gst-plugin-qsv=1.28.0-4
	conflicts = gst-plugin-qsv

pkgname = gst-plugin-va-qti-oss
	pkgdesc = Multimedia graph framework - va plugin
	depends = gst-plugins-bad-libs-qti-oss=1.28.0-4
	depends = gst-plugins-base-libs-qti-oss=1.28.0-4
	depends = gstreamer-qti-oss=1.28.0-4
	depends = glib2
	depends = glibc
	depends = libgudev
	depends = libva
	provides = gst-plugin-va=1.28.0-4
	conflicts = gst-plugin-va
	replaces = gstreamer-vaapi<=1.26.10-5

pkgname = gst-plugin-wpe-qti-oss
	pkgdesc = Multimedia graph framework - wpe plugin
	depends = gst-plugins-base-libs-qti-oss=1.28.0-4
	depends = gstreamer-qti-oss=1.28.0-4
	depends = glib2
	depends = glibc
	depends = libgcc
	depends = libstdc++
	depends = libwpe
	depends = libxkbcommon
	depends = wayland
	depends = wpebackend-fdo
	depends = wpewebkit
	provides = gst-plugin-wpe=1.28.0-4
	conflicts = gst-plugin-wpe

pkgname = gst-plugin-wpe2-qti-oss
	pkgdesc = Multimedia graph framework - wpe2 plugin
	depends = gst-plugins-base-libs-qti-oss=1.28.0-4
	depends = gstreamer-qti-oss=1.28.0-4
	depends = glib2
	depends = glibc
	depends = libgcc
	depends = libglvnd
	depends = libstdc++
	depends = libxkbcommon
	depends = wpewebkit
	provides = gst-plugin-wpe2=1.28.0-4
	conflicts = gst-plugin-wpe2

pkgname = gst-devtools-libs-qti-oss
	pkgdesc = Multimedia graph framework - development and debugging libraries
	depends = gst-plugins-base-libs-qti-oss=1.28.0-4
	depends = gstreamer-qti-oss=1.28.0-4
	depends = glib2
	depends = glibc
	depends = json-glib
	depends = orc
	depends = zlib
	provides = gst-devtools-libs=1.28.0-4
	conflicts = gst-devtools-libs

pkgname = gst-devtools-qti-oss
	pkgdesc = Multimedia graph framework - development and debugging tools
	depends = gst-devtools-libs-qti-oss=1.28.0-4
	depends = gst-plugins-bad-libs-qti-oss=1.28.0-4
	depends = gst-plugins-base-libs-qti-oss=1.28.0-4
	depends = gst-rtsp-server-qti-oss=1.28.0-4
	depends = gstreamer-qti-oss=1.28.0-4
	depends = cairo
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = hicolor-icon-theme
	depends = json-glib
	depends = libgcc
	depends = python
	depends = python-cairo
	depends = python-commonmark
	depends = python-gobject
	depends = python-lxml
	provides = gst-devtools=1.28.0-4
	conflicts = gst-devtools

pkgname = gst-rtsp-server-qti-oss
	pkgdesc = Multimedia graph framework - rtsp server
	depends = gst-plugins-base-libs-qti-oss=1.28.0-4
	depends = gstreamer-qti-oss=1.28.0-4
	depends = glib2
	depends = glibc
	depends = orc
	depends = zlib
	provides = gst-rtsp-server=1.28.0-4
	conflicts = gst-rtsp-server

pkgname = gst-editing-services-qti-oss
	pkgdesc = Multimedia graph framework - editing services
	depends = gst-devtools-libs-qti-oss=1.28.0-4
	depends = gst-plugins-base-libs-qti-oss=1.28.0-4
	depends = gst-python-qti-oss=1.28.0-4
	depends = gstreamer-qti-oss=1.28.0-4
	depends = glib2
	depends = glibc
	depends = json-glib
	depends = libxml2
	depends = orc
	depends = python
	depends = python-gobject
	depends = zlib
	optdepends = opentimelineio: Support for the OpenTimelineIO format
	provides = gst-editing-services=1.28.0-4
	conflicts = gst-editing-services

pkgname = gst-python-qti-oss
	pkgdesc = Multimedia graph framework - python plugin
	depends = gst-plugins-base-libs-qti-oss=1.28.0-4
	depends = gstreamer-qti-oss=1.28.0-4
	depends = glib2
	depends = glibc
	depends = python
	depends = python-gobject
	depends = python-typing_extensions
	optdepends = gst-plugins-bad-libs-qti-oss: GstAnalytics support
	provides = gst-python=1.28.0-4
	conflicts = gst-python
